# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*

# env
.env
.env*.local

# panelden yüklenen dosyalar (canlıda volume olarak bağlanır)
/public/uploads/*
!/public/uploads/.gitkeep
